In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [3]:
file_dir = "./mnist_test.csv"
df = pd.read_csv(file_dir)
print("the shape of test data is :", df.shape)

data_size = df.shape[0]
img_size = df.shape[1]-1
img_edge = int(math.sqrt(img_size))

df.head()

the shape of test data is : (10000, 785)

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
label = df.iloc[:,0]
# print(label)
df = df.iloc[:,1:]
ind = np.random.randint(0, data_size)
# plt.figure(figsize = (20, 5))
# grid_data = np.array(df.iloc[ind]).reshape(img_edge,img_edge)
# plt.imshow(grid_data, interpolation = None, cmap = 'gray')
# plt.show()
# print(label[ind])

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
std_df = scaler.fit_transform(df)
# print(std_df.shape)

In [6]:
N_DIM = 5
pca = PCA(n_components=N_DIM)
data_pca = pca.fit_transform(std_df)
# print(data_pca.shape)
# print(data_pca)

In [7]:
result_df = pd.DataFrame(data_pca)
result_df.insert(0, 'label', label)
result_df.to_csv("dataset_pca.csv", index = False)
# print(result_df)